<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
    <link
    id = "favicon"
    rel = "icon"
    href = "https://imagizer.imageshack.com/img922/9079/E7GmV8.png"
    type = "image/png"
    sizes = "32x32"
>
