body {
  background-color: #BC69AA;
}

main {
  text-shadow: 1px 1px gray;
}

img {
  margin-bottom: 18px;
}

.profiles {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 30px 30px;
  font-family: 'Lato', sans-serif;
  font-size: larger;
}

h3 {
  margin: 5px 0px;
  padding: 0;
}

.title {
  font-family: 'Satisfy', cursive;
  font-size: 50px;
}

.title-show {
  font-family: 'Satisfy', cursive;
  font-size: 38px;
  margin-top: 8px;
  padding-top: 6px;
}

.profile-name {
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  margin-bottom: 2px;
}

.card {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 375px;
  background-color: #A55D95;
  padding: 15px;
  border-radius: 25px;
  margin: 15px 0px;
}

.card:hover {
  background-color: #955588;
}

.card > img {
  max-width: 70px;
  max-height: 70px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

label > input {
  margin-top: 3px;
  width: 180px;
  margin-right: 10px;
}

form > label {
  margin: 5px 5px 8px 15px;
}

.submit-button {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 343px;
}

.submit-button > button {
  width: 150px;
}

.time-container {
  display: flex;
  flex-direction: row;
}

select {
  width: 70px;
  height: 22px;
  margin-top: 3px;
}

#add-profile-language {
  margin-top: 28px;
  margin-bottom: 15px;
  padding: 0px;
}