<%- include('./partials/html-head') %>
</head>
<body>
<main>
<div class="circle-container">
  <div id="fourth-circle" class="circle">placeholder</div>
  <div id="third-circle" class="circle">    
    <a 
    href="/profiles" <%- title === 'Profiles' ? 'class="active"' : '' %>
    >
    Profiles
    </a></div>
  <div id="second-circle" class="circle">
    <a 
    href="/languages" <%- title === 'Languages' ? 'class="active"' : '' %>
    >
    Languages
    </a>
  </div>
  <div id="first-circle" class="circle">The Polyglot Spot</div>
  </div>
</main>

<%- include('./partials/footer') %>
