html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #AF42AE;
  color: #f6f6f6;
  margin: 0;
}

nav {
  background-color: #47426e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23aa8cb7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

nav > a {
  margin: 0px 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: #f6f6f6;
  text-shadow: 1px 1px gray;
  font-size: larger;
}

.circle > a {
  font-size: x-large;
}

#first-circle {
  background-color: #D6BBC0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  top: -1%;
  font-size: xx-large;
}

#second-circle {
  display: flex;
  background-color: #D0A3BF;
  width: 620px;
  height: 620px;
  border-radius: 50%;
  top: -10%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 60px;
}

#third-circle {
  display: flex;
  background-color: #C585B3;
  width: 855px;
  height: 855px;
  border-radius: 50%;
  top: -20%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 60px;
}

#fourth-circle {
  display: flex;
  background-color: #BC69AA;
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  top: -30%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 60px;
}

.circle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}