html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #E5C3D1;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  margin-left: auto;
}

#first-circle {
  background-color: #EF798A;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  top: 3%;
}

#second-circle {
  background-color: #F7A9A8;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  top: -10%;
}

#third-circle {
  background-color: #7D82B8;
  width: 855px;
  height: 855px;
  border-radius: 50%;
  top: -20%;
}

#fourth-circle {
  background-color: #613F75;
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  top: -30%;
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}