body {
  background-color: #D0A3BF;
  color: white;
  text-shadow: 1px 1px gray;
}

.language-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: 'Lato', sans-serif;
  margin-top: 15px;
  font-size: large;
}

.languages {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 30px 30px;
  font-family: 'Lato', sans-serif;
  font-size: larger;
}

.title {
  font-family: 'Satisfy', cursive;
  font-size: 50px;
}

.title-show {
  font-family: 'Satisfy', cursive;
  font-size: 38px;
  margin-bottom: 8px;
}

.languages-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.language-list {
  grid-column-start: 1;
  grid-column-end: 1;
}

.language-info {
  margin: 10px 0px;
}

.input-container {
  grid-column-start: 2;
  grid-column-end: 2;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

form > button {
  width: 180px;
  margin-top: 10px;
}

label > input {
  display: flex;
  margin-top: 3px;
}

form > label {
  margin: 5px 5px 8px 15px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}