body {
  background-color: #D0A3BF;
  color: white;
  text-shadow: 1px 1px gray;
}

.language-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: 'Lato', sans-serif;
  margin-top: 15px;
  font-size: large;
}

.languages {
  display: flex;
  flex-direction: column;
  margin: 30px 30px;
  font-family: 'Lato', sans-serif;
  font-size: larger;
}

.title {
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  margin-top: 3px;
}

.title-show {
  font-family: 'Satisfy', cursive;
  font-size: 38px;
  margin-top: 8px;
  padding-top: 6px;
}

.languages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:left;
}

.language-info {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.language-info > div {
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.submit-button {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 343px;
}

.submit-button > button {
  width: 150px;
}

label > input {
  margin-top: 3px;
  width: 180px;
}

form > label {
  margin: 5px 5px 8px 15px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  margin-top: 12px;
}

.buttons > a {
  display: flex;
  justify-content: center;
}

form > button {
  width: fit-content;
}

table {
  max-width: 400px;
  margin-top: 12px;
}

.tip-btn {
  margin-top: 10px;
}

th {
  font-size: larger;
  text-decoration: underline;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 7px;
}

td {
  padding: 10px;
}

#title-show-tips {
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.tip-form {
  margin-top: 8px;
}